<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer-content" class="container">
    <div class="row">
        <footer class="col">
            © 2019 New Projekt
        </footer>
    </div>
</div>

<div th:fragment="footer-scripts">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!--<script>-->
        <!--let more = document.querySelector('.more'),-->
            <!--overlay = document.querySelector('.overlay'),-->
            <!--close = document.querySelector('.popup-close'),-->
            <!--btn = document.querySelectorAll('.description-btn');-->


        <!--more.addEventListener('click', function () {-->
            <!--overlay.style.display = 'block';-->
            <!--this.classList.add('more-splash');-->
            <!--document.body.style.overflow = 'hidden';-->

        <!--});-->

        <!--close.addEventListener('click', function () {-->
            <!--overlay.style.display = 'none';-->
            <!--more.classList.remove('more-splash');-->
            <!--document.body.style.overflow = '';-->
        <!--});-->
    <!--</script>-->
    <script>
        $(function () {
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:2
                    },
                    1000:{
                        items:3
                    }
                }
            })

        });


        var modal = document.querySelector("#modal"),
            modalOverlay = document.querySelector("#modal-overlay"),
            closeButton = document.querySelector("#close-button"),
            openButton = document.querySelector("#open-button");

        closeButton.addEventListner("click", function(){
            modal.classList.toggle("closed");
            modalOverlay.classList.toggle("closed");
        });

        openButton.addEventListner("click", function(){
            modal.classList.toggle("closed");
            modalOverlay.classList.toggle("closed");
        });

    </script>
    <script th:src="@{styles/owl.carousel.min.js}"></script>
</div>
</body>
</html>
