<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header-content">
</head>
<body>
<div th:replace="navs/nav :: nav-content"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="navs/sidebar :: sidebar-content"></div>
        <main role="main" class="col-md-11 ml-sm-auto col-lg-10 pt-3 px-4">

            <h2 th:align="center">Month Budgets</h2>
            <div class="table-responsive">

                <div class="owl-carousel owl-theme">

                    <div class="item" th:each="budget : ${monthBudgets}">

                        <h4 th:text="${budget.localDate.getMonth()}+' - '+${budget.localDate.getYear()}"
                            th:align="center"></h4>

                        <h4 th:text="${budget.result}" th:align="center">

                        </h4>

                        <tr>

                            <a th:href="@{'/monthBudget/' + ${budget.id}}"
                               class="btn btn-info btn-lg btn-block" href="#">
                                <span data-feather="edit"></span>
                            </a>
                            <form class="form-inline"
                                  th:action="@{'budget/'+${budget.id} + '/delete'}"
                                  method="post">
                                <input type="hidden"
                                       name="${_csrf.parameterName}"
                                       value="${_csrf.token}"/>
                                <button class="btn btn-secondary btn-lg btn-block" type="submit">
                                    <span data-feather="trash"></span>
                                </button>
                            </form>

                        </tr>

                    </div>

                </div>

                <a class="btn btn-outline-primary" href="#openModalMonth">Add new Month</a>
                <div id="openModalMonth" class="modalDialog">
                    <div>
                        <a href="" title="Закрыть" class="close">X</a>
                        <h2>Create new Month</h2>
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <form class="form-horizontal"
                                      th:action="@{/add_month_budget}"
                                      method="post" th:align="center">

                                    <div class="form-group mx-sm-3 mb-2">
                                        <label for="monthBudget" class="sr-only">Month</label>
                                        <input type="month" class="form-control" id="monthBudget" placeholder="Month"
                                               name="month">

                                    </div>
                                    <button type="submit" class="btn btn-primary mb-2">Add Month</button>
                                </form>


                            </div>
                        </nav>

                    </div>
                </div>

            </div>


        </main>

        <div th:replace="fragments/footer :: footer-content"></div>
    </div>
</div>
<div th:include="fragments/footer :: footer-scripts"></div>
</body>
</html>

